<div class="task-new-wrapper" >
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <h1 class="text-center">Edit Task</h1>
        <%= form_for(@task, url: task_path(@task), html:{method: :patch}) do |f| %>
          <div class="form-group">
            <%= f.label :title %>
            <%= f.text_field :title, value: @task.title %>
          </div>

          <div class="form-group">
            <%= f.label :description %>
            <%= f.text_area :description, class: 'form-control' , value: @task.description %>
          </div>

          <div class="form-group">
            <%= f.label :終了予定日 %>
            <%= f.date_select :finish_schedule_date, class: 'form-control',value: @task.finish_schedule_date %>
          </div>

          <div class="form-group">
            <%= f.label :priority %>
            <%= f.select :priority, Task.priorities.keys, value:@task.priority %>
          </div>

          <div class="form-group">
            <%= f.label :ステータス %>
            <%= f.select :status, Task.statuses.keys ,value: @task.status %>
          </div>

          <%= f.submit '保存', class: 'btn btn-black btn-block' %>

        <% end %>


      </div>
    </div>
  </div>
</div>
