<div class="topic-index-wrapper">
  <div class="container">
    <p>
    <%=link_to '作成', new_task_path %>
    </p>
    <%= form_tag tasks_path, :method => 'get' do %>
      <div>
        <%= text_field_tag :search, params[:search] %>
        <p>
          start_date
          <%= date_field_tag :search_start_date1, params[:search_start_date1] %>~<%= date_field_tag :search_start_date2, params[:search_start_date2] %>
        </p>
        <p>
          finish_schedule_date
          <%= date_field_tag :finish_search, params[:finish_schedule_date_search] %>~<%= date_field_tag :finish_search, params[:finish_schedule_date_search] %>
        </p>
        <p>
          status
          <%= select_tag 'name', options_for_select(Task.statuses) %>
        </p>
        <p>
          priority
          <%= select_tag 'name', options_for_select(Task.priorities) %>
        </p>
        <%= submit_tag '検索' %>
      </div>
    <% end %>
    <div>
      並べ替え
      <%= link_to "作成順" , sort:"id"%>
      <%= link_to "title" ,sort: "title" %>
      <%= link_to "stasus", sort: "status" %>
      <%= link_to "priority", sort: "priority DESC" %>
      <%= link_to "作業開始日", sort: "start_date is NULL, start_date ASC" %>
      <%= link_to "作業終了予定日", sort: "finish_schedule_date DESC" %>
      <%= link_to "作業終了日", sort: "finish_date IS NULL, finish_date DESC " %>
      <p>
        <% if params[:search] != "" %>
          検索結果 <%= @tasks.count %>件
        <% end %>
      </p>
      <% @tasks.each do |task| %>
        <div class="row">
          <div class="col-md-6 col-md-offset-3">
            <ul class="task-index-single">
              <li class="title">
                <%= link_to task_path(task.id) do %>
                  <%= task.title %>
                <% end %>
                <%= task.status %>
                <%= task.priority %>
              </li>
            </ul>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
