<div class="task-index-wrapper">
  <div class="comment-new-wrapper" >
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <div class="task-index-single">
            <p>
              <%= link_to '編集', edit_task_path  %>
              <%= link_to '削除', task_path ,method: :delete %>
            </p>
            <table class="table">
              <tr>
                <th>タスク名</th>
                <th><%= @task.title %></th>
              </tr>
              <tr>
                <th>説明</th>
                <th><%= @task.description %></th>
              </tr>
              <tr>
                <th>ステータス</th>
                <th><%= @task.status %></th>
              </tr>
              <tr>
                <th>優先度</th>
                <th><%= @task.priority %></th>
              </tr>
              <tr>
                <th>作業終了予定日</th>
                <th><%= @task.finish_schedule_date %></th>
              </tr>
              <tr>
                <th>作業開始日</th>
                <th><%= @task.start_date %></th>
              </tr>
              <tr>
                <th>作業終了日</th>
                <th><%= @task.finish_date %></th>
              </tr>
            </table>
            <% if @task.status == "undo" %>
              <p>
                 <%= link_to '作業開始', start_tasks_path(id: params[:id]) ,method: :put %>
              </p>
            <% elsif @task.status == "in_progress" %>
              <p>
                <%= link_to '作業終了' , finish_tasks_path(id: params[:id]),method: :put %>
              </p>
            <% end %>
            <%= link_to "一覧へ戻る" , tasks_path  %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
