<!DOCTYPE html>
<html>
  <head>
    <title>Todo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %>" role="alert"><%= value %></div>
    <% end %>
    <nav class="navbar">
      <div class="nav_container">
        <h1 class="title">
          ToDo
        </h1>
        <div class="navbar_container">
          <% if logged_in? %>
            <%= current_user.username %>さん
            <%= link_to 'CreateTask', new_task_path  %>
            <%= link_to 'List',  tasks_path %>
            <%= link_to 'logout' ,logout_path, method: :delete  %>
          <% end %>
        </div>
      </div>
    </nav>
    <%= yield %>

    <script>
      $(function(){
        $(".alert").fadeOut(5000);
      });
    </script>
  </body>
</html>
